.setup-button {
    display: none;
}

.stop-button {
    display: none;
}

.map-line {
    display: none;
}

.timeTotal {
    display: none;
}

.timer {
    display: none;
}

#map {
    width: auto;
    height: 50vh;
}

#mapView {
    display: none;
    width: auto;
    height: 55vh;
}