.footer-btn {
    border-radius: 5px;
    font-size: 2em;
    padding: 2px 8px;
}

.exercise-btn {
    font-size: 1em;
}

.quest-item {
    text-align: left;
}

.quest-icon {
    text-align: right;
}

.home-btn {
    padding: 2px 8px;
}

.start-btn {
    padding: 2px 13px;
}

.stat-btn {
    padding: 2px 10px;
}

.footer-btn-active {
    color: gray;
}

.setup-button {
    display: none;
}

.navbar {
    box-shadow: 0 8px 6px -6px #999;
}

.fixed-bottom {
    box-shadow: 0 -8px 6px -6px #999;
}

.filler {
    margin-bottom: 100px;
}

.filler-2 {
    margin-bottom: 100px;
}

.stop-button {
    display: none;
}

.map-line {
    display: none;
}

#timeTotal {
    display: none;
}

#timer {
    display: none;
}

#map {
    width: auto;
    height: 50vh;
}

#mapView {
    width: auto;
    height: 55vh;
}

a {
    text-decoration: none;
}