.footer-btn {
    border-radius: 5px;
    font-size: 2em;
    padding: 2px 8px;
}

.exercise-btn {
    font-size: 1em;
    color: #6DAF08;
}

.home-btn {
    padding: 2px 8px;
    color: #6DAF08;
}

.start-btn {
    padding: 2px 13px;
    color: #6DAF08;
}

.stat-btn {
    padding: 2px 10px;
    color: #6DAF08;
}

a:hover, a:focus {
    color:#C1E884;
}

.footer-btn-active {
    color: #C1E884;
}

.navbar {
    box-shadow: 0 8px 6px -6px #999;
}

.fixed-bottom {
    box-shadow: 0 -8px 6px -6px #999;
}

.filler {
    margin-bottom: 100px;
}

.preview {
    background-color: black;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

a {
    text-decoration: none;
}

