body{
    margin: 0;
}

#button-container{
    display: grid;
    grid-template-columns: 1fr;
}

.game-button{
    background-image: url("../images/texture.jpg");
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1px;
    font-size: 5vh;
}

.inventory-label{
    font-size: 5vh;
}

.game-button{
    color: black;
    margin-top: 5px;
}

.inventory-img{
    float: right;
    padding-top: 30%;
    width: 45vw;
}

.game-button:hover{
    color: black;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

#page-main-content{
    text-align: center;
}