body{
    margin: 0;
}

.inventory-area{
    background-image: url("../images/texture.jpg");
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1px;
}

.inventory-label{
    font-size: 1.5em;
}

.inventory-item-info{
    display: grid;
    row-gap: 0px;
}

#page-main-content{
    margin-left: 25vw;
    margin-right: 25vw;
}

.game-button{
    color: black;
    margin-top: 5px;
}

.game-button:hover{
    color: black;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

#page-main-content{
    text-align: center;
}