body{
    margin: 0;
    overflow-x: hidden;
}

#button-container{
    display: grid;
    grid-template-columns: 1fr;
}

.game-button{
    background-image: url("../images/texture.jpg");
    display: grid;
    grid-template-columns: 20% 20% 40%;
    font-size: 1.5vh;
    height: 100px;
}

.inventory-label{
    font-size: 3vh;
}

.game-button{
    color: black;
    margin-top: 5px;
}

.inventory-img{
    max-width: 50%;
}

.inventory-item-info{
    font-size: 2em;
}

.inventory-item-count{
    transform: translateY(50%);
    font-size: 2em;
}

.game-button:hover{
    color: black;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

#page-main-content{
    text-align: center;
}