.entry-color {
    color: #90C63E;
}

.result-hover:hover, .result-hover:active {
    color: #6DAF08;
}

#map {
    width: auto;
    height: 50vh;
}

#mapView {
    display: none;
    width: auto;
    height: 55vh;
}